<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gao.mapper.UserMapper">
		<select id="selectUser" resultType="user">
			select * from user where rid = #{rid};
		</select>
		
		<resultMap type="user" id="userMap">
			<id column="uid" property="uid"/>
			<result column="uname" property="uname"/>
			<association property="role" column="rid" javaType="role">
				<id column="rid" property="rid" />
		        <result column="rname" property="rname" />
			</association>
		</resultMap>
		
		<select id="queryAllUser" resultMap="userMap">
			select * from user left join role on user.rid=role.rid
		</select>
		
		
		<resultMap type="user" id="userMap2">
			<id column="uid" property="uid"/>
			<result column="uname" property="uname"/>
			<association property="role" column="rid" javaType="role"
			select ="com.gao.mapper.RoleMapper.selectRole">
			</association>
		</resultMap>
		
		<select id="queryAllUser2" resultMap="userMap2">
			select * from user 
		</select>
		
		
		
</mapper>