<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--配置属性 -->
	<properties resource="config.properties">
		<property name="username" value="root" />
		<property name="password" value="888888" />
	</properties>
	
	
	<!--按需加载必须设置  settings 顺序必须和 文档一致  -->
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	
	
	<!--设置别名  -->
	<typeAliases>
	<!-- 	<typeAlias alias="Student" type="com.gao.entity.Student"/> -->
	<!-- 在此包名下搜索实体类 -->
		<package name="com.gao.entity"/>
	</typeAliases>
	

	
	
	
	
	<!-- 1.environments 中可以有多个环境 environment中 代表一个环境 transactionManager:事务管理器 
		type:属性 jdbc dataSource:数据源(连接池) 连接池有很多 dbcp c3p0 DROID -->
	<!-- environments 属性 defalut 为默认的环境id environment id 唯一标识环境 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>




	<!--写包名-->
	<mappers>
		<package name="com.gao.mapper"/>
	</mappers>


</configuration>